<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Connexion</title>
  <head>
    <body>
      <h2>Connectez-vous</h2>
      <form action="/" method="POST">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" required>

        <label for="password">Mot de passe :</label>
        <input type="password" name="password" required>

        <button type="submit">Connexion</button>
        <button type="button" onclick="window.location.href='/users'">Inscrivez-vous !</button>
        <button type="button" onclick="window.location.href='/admin'">Administration</button>
    </form>
</body>
    
</body>
</html>